#footer {
    padding: 3%;
    background-color: #121212;
    color: #fff;
    text-align: center;

    .border {
	margin-left: 4%;
	margin-right: 4%;
	border-top: 2px solid white;
    }

    .footer-text {  
	font-size: 1.5em; 
	margin-top: 4%;
    }
}
